# Table of Contents
 <p><div class="lev1"><a href="#PAH-burden-analysis-summary">PAH burden analysis summary</a></div>

# PAH burden analysis summary

   - Cases: There are 227 samples, contains 55 trios, 2 trios have low relativeness(JM0015 and JM0018)  

   - ontrols: 1911 unaffected silbing from Iossifov 2014

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
from pretty_table import *

In [17]:
df = pd.DataFrame({"x":[1,2,3], "y":[6,4,3], "z":["testing","pretty","tables"], "f":[0.023432, 0.234321,0.5555]})
pt = PrettyTable(df)
pt

In [3]:
pt = PrettyTable(df, tstyle=TableStyle(theme="theme1"), center=True)
pt

In [4]:
#https://github.com/HHammond/PrettyPandas
#http://melissagymrek.com/python/2014/01/12/ipython-tables.html
#http://nbviewer.jupyter.org/gist/chris1610/f2f4a2e9181f6ec22e88
#http://nbviewer.jupyter.org/github/pydata/pandas/blob/master/doc/source/html-styling.ipynb
pd.set_option('float_format', '{:.2f}'.format)

In [21]:
CSS = """
body {
    margin: auto;
    font-family: Helvetica;
}
table.dataframe {
    margin: auto;
    border-collapse: collapse;
    border: none;
    font-size:200%;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: auto;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: center;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 1px solid #ccf;
    background-color: #f4f4ff;
    text-align: center;
}
div.output_area pre {
font-family: Helvetica;
font-size: 100%;
}
"""
#CSS ='<center>{0}</center>'.format(CSS)

In [22]:
from IPython.core.display import HTML
HTML('<style>{}</style>'.format(CSS))

In [7]:
# all genes

In [10]:
pd.set_option('display.width', 250)
pd.set_option('display.precision', 3)
df = pd.DataFrame(np.random.randint(5, size=(2, 6)), index=('aaa','bbb'),
                  columns=('lib', 'qty1', 'qty2','qty2','qty2','qty2'))
print '             gggggg'
display(df)
df.style.render().split('\n')[:10]

             gggggg

     lib  qty1  qty2  qty2  qty2  qty2
aaa    2     1     4     4     0     2
bbb    2     2     1     0     2     0

ValueError: style is not supported for non-unique indicies.

In [ ]:
pt = PrettyTable(df, tstyle=TableStyle(theme="theme1"), center=True)
pt

In [11]:
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

In [14]:
display(df)

      A     B     C     D     E
0  1.00  1.33   nan -0.32 -0.99
1  2.00 -1.07 -1.44  0.56  0.30
2  3.00 -1.63  0.22  0.68  1.89
3  4.00  0.96  0.10 -0.48  0.85
4  5.00  1.45  1.06  0.17  0.52
5  6.00 -1.34  0.56  1.39 -0.06
6  7.00  0.12  1.21 -0.00  1.63
7  8.00  0.35  1.04 -0.39  0.52
8  9.00  1.69 -1.33  1.43 -2.09
9 10.00 -0.13  0.63 -0.59  0.29

In [20]:
df.style.highlight_null().render().split('\n')

[u'',
 u'        <style  type="text/css" >',
 u'        ',
 u'        ',
 u'        </style>',
 u'',
 u'        <table id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fb" None>',
 u'        ',
 u'',
 u'        <thead>',
 u'            ',
 u'            <tr>',
 u'                ',
 u'                <th class="blank">',
 u'                ',
 u'                <th class="col_heading level0 col0">f',
 u'                ',
 u'                <th class="col_heading level0 col1">x',
 u'                ',
 u'                <th class="col_heading level0 col2">y',
 u'                ',
 u'                <th class="col_heading level0 col3">z',
 u'                ',
 u'            </tr>',
 u'            ',
 u'        </thead>',
 u'        <tbody>',
 u'            ',
 u'            <tr>',
 u'                ',
 u'                <th id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fb" class="row_heading level3 row0">',
 u'                    ',
 u'                        0.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow0_col0" class="data row0 col0">',
 u'                    ',
 u'                        0.023',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow0_col1" class="data row0 col1">',
 u'                    ',
 u'                        1.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow0_col2" class="data row0 col2">',
 u'                    ',
 u'                        6.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow0_col3" class="data row0 col3">',
 u'                    ',
 u'                        testing',
 u'                    ',
 u'                ',
 u'            </tr>',
 u'            ',
 u'            <tr>',
 u'                ',
 u'                <th id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fb" class="row_heading level3 row1">',
 u'                    ',
 u'                        1.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow1_col0" class="data row1 col0">',
 u'                    ',
 u'                        0.234',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow1_col1" class="data row1 col1">',
 u'                    ',
 u'                        2.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow1_col2" class="data row1 col2">',
 u'                    ',
 u'                        4.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow1_col3" class="data row1 col3">',
 u'                    ',
 u'                        pretty',
 u'                    ',
 u'                ',
 u'            </tr>',
 u'            ',
 u'            <tr>',
 u'                ',
 u'                <th id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fb" class="row_heading level3 row2">',
 u'                    ',
 u'                        2.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow2_col0" class="data row2 col0">',
 u'                    ',
 u'                        0.555',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow2_col1" class="data row2 col1">',
 u'                    ',
 u'                        3.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow2_col2" class="data row2 col2">',
 u'                    ',
 u'                        3.0',
 u'                    ',
 u'                ',
 u'                <td id="T_c689c7f0_fc4a_11e5_a8f9_a820662389fbrow2_col3" class="data row2 col3">',
 u'                    ',
 u'                        tables',
 u'                    ',
 u'                ',
 u'            </tr>',
 u'            ',
 u'        </tbody>',
 u'        </table>',
 u'        ']